@use './tokens' as *;

.app-footer {
  border-radius: 0 0 0.3rem 0.3rem;
  position: fixed;
  width: 100%;
  background-color: $main-color;
  bottom: 0;
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  
  span {
    cursor: pointer;
  }
}