@use './tokens' as *;
@use './mixins' as *;

body {
  font-family: $font-sans;
  color: $color-fg;
  background: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-fg;
  line-height: 1.25;
  font-weight: 700;
}

h1 { font-size: 2rem; margin: 0 0 0.6em; }
h2 { font-size: 1.75rem; margin: 1.2em 0 0.6em; }
h3 { font-size: 1.5rem; margin: 1.1em 0 0.5em; }
h4 { font-size: 1.25rem; margin: 1em 0 0.5em; }
h5 { font-size: 1.125rem; margin: 0.9em 0 0.4em; }
h6 { font-size: 1rem; margin: 0.8em 0 0.4em; }

@include respond(md) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.75rem; }
}

p { margin: 0 0 1em; }
.prose { max-width: 70ch; }

